.btn{
    width: 100%;
    font-size: 1.8vh;
    padding: 2px;
    margin: 0.3em;
    text-align: center;
}

form{
    width: 100%;
    margin: auto;
}

.alert{
    
        width: 60%;
        margin: auto;
        font-size: 2em;
      
}


.cont{
    width: 70%;
    margin: auto;
}