<div class="container estiloMovil">
    <div class="acordeon" *ngFor='let medico of medicos' >
    <a class="btn btn-primary text-primary bg-white" data-toggle="collapse" href="#{{medico.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{medico.nombre}} {{medico.apellidos}}
      </a>
    <div class="collapse" id="{{medico.id}}">
      <div class="card card-body card-accordeon mb-2">
        <h1>{{medico.especialidad}}</h1>
      </div>
    </div>
</div>

</div>

    <div class="contenedor estiloDefecto">
        <h2 class="mt-5">Médicos</h2>
        <hr>
        <div class="row">
            <div id="nombreLabel" class="col-sm header-title">
                Nombre
            </div>
            <div id="apeLabel" class=" col-sm header-title">
                Apellidos
            </div>
            
        </div>
    
    <hr>
    <div class="card py-4 bg-white border-primary text" *ngFor='let medico of medicos' >
        <div class="row">
            <div class="ml-3 col-sm text-primary" id="nombre">
                {{ medico.nombre }}
            </div>
            <div class="ml-3 col-sm text-primary" id="apellidos">
                {{ medico.apellidos }}
            </div>
            
        </div>
    </div>
</div>

