
<div *ngIf='mensaje' class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    {{mensaje}}
</div>


<div class="container" id="estiloDefecto">
    
    
        
<ng-template [ngIf]='isLogged()' [ngIfElse]='guest'>
    <h3>Citas</h3>
<div class="list-group">
    <hr>
    <div class="px-4">
        <div class="row">
            <div class="col-sm header-title">
                <p><strong>Médico</strong></p>
            </div>
            <div class="col-sm header-title">
                <p><strong>Fecha</strong></p>
            </div>
            <div class="col-sm header-title">
                <p><strong>Estado</strong></p>
            </div>
            <div class="col-sm header-title">
                <p><strong>Sala</strong></p>
            </div>
            <div class="col-sm header-title">
                <p><strong>Operación</strong></p>
            </div>

        </div>
    </div>
    <hr>
    <div class="card mt-2 py-2 px-2" *ngFor='let cita of citas' >
        <div class="row">
            <div class="col">
                <p>{{ cita.medico.nombre }} {{ cita.medico.apellidos }} ({{ cita.medico.especialidad }})</p>
            </div>
            <div class="col-sm">
                <p>{{ cita.fecha }}</p>
            </div>
            <div class="col-sm">
                <p>{{ cita.estado }}</p>
            </div>
            <div class="col-sm">
                <p>{{ cita.sala.id }}</p>
            </div>
            <div class="col-sm">
                <div><p (click)="borrarCita(cita)" class="btn btn-primary borrar">Pincha para borrar la cita</p></div>
            </div>
            
        </div>
    </div>
</div>
<h1>Crea una nueva cita</h1>
<form [formGroup]="formularioCita" (submit)="concertarCita()">
    <div class="form-group">
        <strong>Fecha: </strong>
      <input type="date" id="datefield" class="form-control"  aria-describedby="emailHelp" formControlName="fecha" min={{hoy}} >
    </div>
    <div class="form-group">
        <strong>Tipo de cita: </strong>
        <select name="medico" formControlName="medico">
            <option [value]="medico.id" *ngFor="let medico of medicos">{{medico.especialidad}} ( {{medico.nombre}} {{medico.apellidos}} )</option>
        </select>
        <strong class="sala">Sala: </strong>
        <select name="sala"  formControlName="sala">
            <option [value]="sala.id" *ngFor="let sala of salas">{{sala.id}}</option>
        </select>
      </div>
    <input type="submit" class="btn btn-primary" value="Pedir Cita">
  </form>

</ng-template>
<ng-template #guest>
   Inicia sesion para concertar una cita
</ng-template>

</div>


<div id="estiloMovil" class="container">
    <div class="acordeon" *ngFor='let cita of citas' >
    <a class="btn btn-primary" data-toggle="collapse" href="#{{cita.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{cita.medico.especialidad}} --- {{cita.fecha}}
      </a>
    <div class="collapse" id="{{cita.id}}">
      <div class="card card-body card-accordeon">
        <strong>Estado</strong> {{cita.estado}} <strong>Sala</strong> {{cita.sala.id}}  <strong>Medico</strong> {{cita.medico.nombre}}
      </div>
      <div><p (click)="borrarCita(cita)" class="btn btn-primary">Pincha para borrar la cita</p></div>
    </div>
</div>
<h1>Crea una nueva cita</h1>
<form [formGroup]="formularioCita" (submit)="concertarCita()">
    <div class="form-group">
      <label>Fecha</label>
      <input type="date" class="form-control"  aria-describedby="emailHelp" formControlName="fecha" min={{hoy}}>
    </div>
    <div class="form-group">
        <p>Tipo de cita</p>
        
        <select name="medico" id="medico"  formControlName="medico">
            <option [value]="medico.id" *ngFor="let medico of medicos">{{medico.especialidad}} ( {{medico.nombre}} {{medico.apellidos}} )</option>
        </select>
        <p>Sala</p>
        <select name="sala" id="sala"  formControlName="sala">
            <option [value]="sala.id" *ngFor="let sala of salas">{{sala.id}}</option>
        </select>
    
      </div>
    <input type="submit" class="btn btn-primary" [disabled]='formularioCita.invalid' value="Pedir Cita">
  </form>


</div>

