label{
    font-size: 2em;
    font-family: 'Anton', sans-serif;
}

h1{
    width: 30%;
    margin: auto;
    font-size: 4em;
    color: rgb(2, 19, 22);
    text-align: center;
    background-color: rgb(236, 236, 236);
    border-radius: 20%;
    border-style: double;
    font-style: oblique;
    border-color: rgb(39, 39, 39);
    font-family: 'Anton', sans-serif;
}

.btn{
    margin: auto;
    width: 100%;
}


.alert{
    width: 100%;
    margin: auto;
    font-family: 'Anton', sans-serif;
}

.contenedor{
    padding: 1%;
    
    width: 30%;
    margin: auto;
    height:fit-content;
    background-color: rgb(230, 230, 230);
    border-radius:2%;
    border-style: double;
    border-color: rgb(37, 37, 37);
}

@media only screen and (max-width: 1940px) {
    h1{
        width: 100%;
        margin: auto;
        
    }
    
    .contenedor{
        
        width: 100%;
        margin: auto;
        
    
  }
}
