label{
    font-size: 3em;
    font-family: 'Anton', sans-serif;
}

.alert{
    width: fit-content;
    margin: auto;
    font-size: 1.1em;
    
}

input{
    font-size: 1em;
    
}

form{
    width: 40%;
    margin: auto;
}