@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";

@media only screen and (max-width: 1000px) {
 
}

#zona:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  
}

ul{
  border: 0.3vh;
  border-style: double;
  border-color: rgb(8, 111, 228);
}

.row{
  margin-top: auto;
  margin: 3%;
}

h1{
    font-family: 'Acme', sans-serif;
}

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }